@import 'partials/banner.scss';
@import 'partials/portfolio.scss';
@import 'partials/contact.scss';
@import 'partials/mobile-nav.scss';
@import 'partials/projects.scss';
@import 'partials/nav-bar.scss';
@import 'partials/about-profile.scss';
@import 'partials/coding-examples.scss';
@import 'partials/scs-scheme.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#about-me {
    text-align: center;
}
// Media queires
@media screen and (max-width: 1023px) {   
}
@media screen and (min-width: 1024px) {
    .wrapper main {
        margin-left: 13.5rem;
    }
}
//internet explorer
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @media screen and (max-width: 767px) {
        .projects-content {
            flex-direction: column;
        }
    }
    @media screen and (min-width: 1024px){
        .projects-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
    }
}        