@import 'partials/banner.scss';
@import 'partials/portfolio.scss';
@import 'partials/contact.scss';
@import 'partials/mobile-nav.scss';
@import 'partials/projects.scss';
@import 'partials/nav-bar.scss';
@import 'partials/about-profile.scss';
@import 'partials/coding-examples.scss';
@import 'partials/scs-scheme.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: #000;
}
#about-me {
    text-align: center;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .wrapper main {
        padding-left: 1000px;
    }
}
// Media queires
@media screen and (max-width: 1023px) {   
}
@media screen and (min-width: 1024px) {
        .wrapper main {
            margin-left: 13.5rem;
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            position: relative;
            left: 250px;
        }
    }
}
//internet explorer

    @media screen and (max-width: 767px) {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .projects-content {
            flex-direction: column;
        }
    }
    }
    @media screen and (min-width: 1024px){
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            .projects-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            }
    }
}      


.about-me::after {
    content: "";
    // position: absolute;
    width: 1px;
    height: 5%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#sidebar {
    position: fixed;
    width: 300px;
    // height: 520%;
    background: #000;
    left: -300px;
    z-index: 1000;
    transition: .4s;
    height: 100%;
}
#sidebar.active {
    left: 0;
}
#sidebar ul li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 20px 24px;
}

// #sidebar .hamburger {
//     position: absolute;
//     top: 5px;
//     left: 300px;
// }
.hamburger {
    position: fixed;
    top: 5px;
    left: 0; 
    z-index: 98;
}
#error {
    color: red;
}
html, body {
    overflow-x: hidden;
}
// .nav-list {
//     display: block;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     min-height: 100vh;
//     z-index: 98;
//     background-color: #12002f;
//     padding-top: 120px;
// }
// .nav-list a {
//     display: block;
//     width: 100%;
//     max-width: 200px;
//     margin: 0 auto 16px;
//     text-align: center;
//     width: fit-content;
//     padding: 12px 16px;
//     background-color: #9b75d7;

//     color: #fff;
//     text-decoration: none;
// }

// .mobile-nav a:hover {
//    background-color: #0475d7;
// }
// * {
//     box-sizing: border-box;
// }

// body {
//     background-color: #9b59b6;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-height: 100vh;
//     margin: 0;
// }
// .container {
//     background-color: #fff;
//     border-radius: 5px;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
//     overflow: hidden;
//     width: 400px;
//     max-width: 100%;
// }
// .header {
//     background-color: #f7f7f7;
//     border-bottom: 1px solid #f0f0f0;
//     padding: 20px 40px;
// }
// header h2 {
//     margin: 0;
// }
// form {
//     padding: 30px 40px;
// }
// .form-control {
//     margin-bottom: 10px;
//     padding-bottom: 20px;
//     position: relative;
// }
// .form-control label {
//     display: inline-block;
//     margin-bottom: 5px;
// }
// .form-control input {
//     border: 2px solid #f0f0f0;
//     border-radius: 4px;
//     display: block;
//     font-size: 14px;
//     padding: 10px;
//     width: 100%;
// }
// .form-control.success input {
//     border-color: #2ecc71;
// }
// .form-control.error input {
//     border-color: #e74c3c;
// }
// .form-control i {
//     position: absolute;
//     top: 40px;
//     right: 10px;
//     visibility: hidden;
// }
// .form-control.success i.fa-check-circle {
//     color:#2ecc71 ;
//     visibility: visible;
// }
// .form-control.error i.fa-exclamation-circle {
//     color:#e74c3c ;
//     visibility: visible;
// }
// .form-control small {
//     visibility: hidden;
//     position: absolute;
//     bottom: 0;
//     left: 0;
// }
// .form-control.error small {
//     color: ;
//     visibility: visible;
// }
// .form button {
//     background-color: #8e44ad;
//     border: 2px solid #8e44ad;
//     border-radius: 4px;
//     color: #fff;
//     display: block;
//     padding: 10px;
//     font-size: 16px;
//     width: 100%;
// }
    

.error {
    color: #e74c3c;
    margin-bottom: 1em;
}

#example-description {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
@media screen and (min-width: 992px) {
    #projects {
        padding: 2rem 2rem 0rem 5rem;
    }
}
@media screen and (min-width: 1440px) {
    #about-me .about-text p {
        font-size: 1.5rem;
        color: #fff;
        border-bottom: 3px solid #fff;
        width: 70%;
        margin-left: 200px;
    }
    #scs-scheme .scs-intro {
        border-bottom: 3px solid #fff;
        width: 80%;
        margin-left: 140px;
    }
}
.ph {
    display: inline-block;
    padding-top: 20px;
    // padding-bottom: 50px;
}
.ph .det-description {
    display: inline;
    margin-top: 5px;
}
.ph .details .phone {
    display: inline-block;
    top: -10px;
}
.em {
    // display: inline-block;
    // padding-top: 20px;
    // padding-bottom: 50px;
}
.em .det-description {
    display: inline;
    margin-top: 5px;
}
.em .details .email {
    display: inline-block;
    // top: -10px;
}
.nav-social i:hover {
    color: #367588;
}
#typewritter {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .details .phone {
        position: relative;
        right: 135px;
        top: 0;
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1024px) {
    .details .email {
        position: relative;
        top: 10px;
        margin-bottom: 15px;
        left: -10px;
        padding-bottom: 50px;
        font-size: 1.5rem;
    }
}